<!DOCTYPE html>
<html lang="en"><head>
<meta charset="utf-8">
<title>Error <%= status %> | Pastafarian Calendar</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/i/simple.min.css">
</head>
<body>
<header>
<%- include('partials/navbar.ejs') -%>
<h1>Error <%= status %></h1>
</header>
<main>
<p><%= error %></p>
<% if (env === 'development') { %>
<h2>Stack:</h2>
<pre><code><%= stack %></code></pre>
<% } %>
</main>
<footer>
<p><%= new Date().toString() %></p>
</footer>
</body>
</html>
<!-- generated <%= new Date().toISOString() %> -->
