<%- await include('partials/header.ejs') -%>
<script type="application/ld+json"><%-JSON.stringify(jsonLD, null, 1)%></script>
<body>
<%- await include('partials/navbar.ejs') -%>
<div class="container">
<div id="content" class="mt-3">
<div class="row">
<div class="col">
<header>
<h2><%=ev.emoji%> <%=ev.subject%>&nbsp;<%=ev.emoji%>
<small class="text-muted">&middot; <time datetime="<%=d.format('YYYY-MM-DD')%>" class="text-nowrap"><%=d.format('MMMM D')%></time></small></h2>
</header>
<p class="lead"><span class="text-nowrap"><%=ev.subject%></span> is a Pastafarian Holy Day which <%=d.isBefore(today, 'day') ? 'occurred' : 'occurs'%> on
<time datetime="<%=d.format('YYYY-MM-DD')%>" class="text-nowrap"><%=d.format('dddd, MMMM D, YYYY')%></time>.</p>
<p>Pastafarian holidays are observed by adherents of Pastafarianism,
a social movement that promotes a light-hearted view of religion.&nbsp;<sup><a
title="Flying Spaghetti Monster from Wikipedia, the free encyclopedia"
href="https://en.wikipedia.org/wiki/Flying_Spaghetti_Monster">[1]</a></sup></p>
<p>R’amen!</p>
<div class="post-navigation d-flex justify-content-between">
<div class="pe-3">
  <a class="previous-post btn btn-outline-secondary" href="<%=prev.url%>" title="<%=prev.subject%>">
    <span class="arrow">←</span>
    <span class="title"><%=prev.subject%> <%=prev.emoji%></span>
    <br><%=prev.d.format('MMMM D')%>
  </a>
</div>
<div class="pb-3">
  <a class="next-post btn btn-outline-secondary" href="<%=next.url%>" title="<%=next.subject%>">
    <span class="title"><%=next.emoji%> <%=next.subject%></span>
    <span class="arrow">→</span>
    <br><%=next.d.format('MMMM D')%>
  </a>
</div>
</div>
</div><!-- .col -->
</div><!-- .row -->
</div><!-- #content -->
<%- await include('partials/footer.ejs') _%>
</body>
</html>
<!-- generated <%= new Date().toISOString() %> -->
