<%- await include('partials/header.ejs', {
  title: 'Pastafarian Holy Days 🙏 🏴‍☠️ 🍝 | Pastafarian Calendar',
}) -%>
<meta name="description" content="<%=ev.subject%> on <%=today.format('dddd, MMMM D, YYYY')%>. Perpetual calendar of Pastafarian holidays, observed by adherents of the Church of the Flying Spaghetti Monster">
<meta name="author" content="Michael J. Radwin">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.0/main.min.css">
<style>
.fc-event {
  color: #000;
  border: unset;
  background-color: #fff;
}
.fc-event .fc-event-title {
  color: #000;
  background-color: #fff;
  font-size: 1.25em;
}
.fc-event-time, .fc-event-title {
  padding: 0 1px;
  white-space: normal;
}
</style>
</head>
<body>
<div class="container">
<div id="content" class="mt-3">
<div class="row">
<div class="col">
<header>
<h2>Pastafarian Holy Days 🙏 🏴‍☠️ 🍝</h2>
</header>
<p class="lead"><time datetime="<%=today.format('YYYY-MM-DD')%>"><%=today.format('dddd, MMMM D, YYYY')%></time>
&middot; <a href="<%=ev.url%>" class="text-nowrap"><%=ev.emoji%> <%=ev.subject%> <%=ev.emoji%></a></p>
<p class="lead">Pastafarian holidays are observed by adherents of Pastafarianism,
a social movement that promotes a light-hearted view of religion.&nbsp;<sup><a
title="Flying Spaghetti Monster from Wikipedia, the free encyclopedia"
href="https://en.wikipedia.org/wiki/Flying_Spaghetti_Monster">[1]</a></sup></p>
<p>Subscribe to the Pastafarian Holy Days calendar feed for perpetual updates.
Works on iPhone, iPad, Microsoft Outlook, Android (via Google Calendar),
macOS Desktop Calendar, Windows 10 calendar, or to any desktop program that
supports iCalendar (.ics) files.</p>
</div><!-- .col -->
</div><!-- .row -->
<div class="row">
<div class="col-md-4">
<a class="btn btn-outline-primary btn-sm me-2 mb-2 download" title="Subscribe to Pastafarian Calendar for Apple iPhone, iPad, macOS" href="webcal://www.pastafariancalendar.com/feed.ics">
<svg class="icon icon-sm align-top"><use xlink:href="/i/sprite.svg#icon-appleinc"></use></svg> Apple</a>
<a class="btn btn-outline-primary btn-sm me-2 mb-2 download" title="Add Pastafarian Calendar to Google Calendar" href="https://www.google.com/calendar/render?cid=http%3A%2F%2Fwww.pastafariancalendar.com%2Ffeed.ics">
<svg class="icon icon-sm align-top"><use xlink:href="/i/sprite.svg#icon-google"></use></svg> Google</a>
</div><!-- .col-md-4 -->
<div class="col-md">
<div class="input-group input-group-sm mb-3">
<input type="text" class="form-control" id="grabLink"
value="https://www.pastafariancalendar.com/feed.ics">
<button id="grabBtn" class="btn btn-secondary" data-clipboard-target="#grabLink">
<svg class="icon align-top"><use xlink:href="/i/sprite.svg#clippy"></use></svg>
Copy
</button>
</div>
</div><!-- .col-md -->
</div><!-- .row -->
<div class="row">
<div class="col">
<div id='calendar-container'>
<div id='calendar'></div>
</div>
</div><!-- .col -->
</div><!-- .row -->
</div><!-- #content -->
<%- await include('partials/footer.ejs') _%>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.0/main.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.6/dist/clipboard.min.js"></script>
<script>
var clipboard = new ClipboardJS('#grabBtn', {});
var grabBtn = document.querySelector('#grabBtn');
var tooltipBtn=new bootstrap.Tooltip(grabBtn);
clipboard.on('success', function(e) {
  e.trigger.setAttribute('data-bs-original-title','Copied!');
  tooltipBtn.show();
  e.clearSelection();
});
clipboard.on('error', function(e) {
  var modifierKey=/mac/i.test(navigator.userAgent)?'\u2318':'Ctrl-';
  var fallbackMsg='Press '+modifierKey+'C to copy';
  e.trigger.setAttribute('data-bs-original-title',fallbackMsg);
  tooltipBtn.show();
});
</script>
<script>
document.addEventListener('DOMContentLoaded', function() {
  var calendarEl = document.getElementById('calendar');
  var calendar = new FullCalendar.Calendar(calendarEl, {
    timeZone: 'UTC',
    initialView: 'dayGridMonth',
    headerToolbar: {
      left: 'title',
      right: 'today prev,next',
    },
    events: '/events.json',
  });
  calendar.render();
  document.addEventListener('keydown', function(e) {
    if (e.keyCode == 37) {
      calendar.prev();
    } else if (e.keyCode == 39) {
      calendar.next();
    }
  });
});
</script>
</body>
</html>
<!-- generated <%= new Date().toISOString() %> -->
